body {
    background-color: black;
}

/* Header CSS */

header {
    margin: 40px;
    width: 100%;
    color: white;
}

.icon {
    font-size: x-large; 
    margin-right: 20px; 
    color: inherit; 
    text-decoration: none;
}
