body {
    background-color: black;
}


.section {
    margin: 40px;
    width: calc(100% - 80px);
    max-width: 800px;
    color: white;
    margin-bottom: 100px;    
}

.icon {
    font-size: x-large; 
    margin-right: 20px; 
    color: inherit; 
    text-decoration: none;
}
